---
import Layout from '../../layouts/Layout.astro';
import Nav from '../../components/Nav.astro';
import BlogPostList from '../../components/BlogPostList.svelte';
import { posts } from '../../util/data'


import { languages } from '../../i18n/ui';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

export async function getStaticPaths() {
    return languages.map(lang => ({
        params: { lang: lang.key }
    }));
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<Layout title="Activity">
    <Nav />
    <main>
        <header>
            <h1>Activity</h1>
            <p>Check out my latest blog posts and project updates.</p>
        </header>
        <section id="blog-posts">
            <BlogPostList client:load {posts} />
        </section>
    </main>
</Layout>

<style>
    body {
        font-family: 'Arial', sans-serif;
        color: #e0e0e0;
        background-color: #121212;
    }

    h1, h2 {
        color: #bb86fc;
    }

    .blog-card {
        background-color: #23262d;
        padding: 1rem;
        margin: 1rem 0;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        position: relative; /* Needed for the absolute positioning of the gradient */
        overflow: hidden; /* To ensure no overflow of the gradient */
        display: flex; /* Ensure content and background image align */
        align-items: center; /* Center the content vertically */
        min-height: 150px; /* Adjust as needed */
        color: #e0e0e0;
        background-size: cover; /* Cover the background image */
        background-position: center; /* Center the background image */
    }

    .blog-card:hover {
        background-color: #33363e;
    }

    .blog-card .content {
        z-index: 1; /* Ensure content is above the gradient */
        position: relative; /* Ensure content is above the gradient */
    }

    .blog-card::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 50%; /* Adjust the width as needed */
        height: 100%;
        background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 70%); /* Gradient effect */
        filter: blur(8px); /* Adjust the blur as needed */
        z-index: 0;
    }

    .modal, .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        transition: opacity 0.3s ease; /* Smooth transition for modal overlay */
    }

    .modal {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
        overflow-y: auto;
        opacity: 0; /* Hidden by default */
        transition: opacity 0.3s ease; /* Smooth transition for modal */
    }

    .modal-content {
        background-color: #23262d;
        padding: 2rem;
        border-radius: 10px;
        max-width: 80%;
        position: relative;
        opacity: 0; /* Hidden by default */
        transition: opacity 0.3s ease; /* Smooth transition for content */
    }

    .modal-content.show {
        opacity: 1;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 1.5rem;
        cursor: pointer;
        color: #bb86fc;
    }

    .modal-overlay {
        background: rgba(0, 0, 0, 0.7);
        z-index: 999;
        opacity: 0; /* Hidden by default */
        transition: opacity 0.3s ease; /* Smooth transition for overlay */
    }

    .modal.show {
        opacity: 1;
    }

    .modal-overlay.show {
        opacity: 1;
    }

    .modal-content h2 {
        margin-top: 0;
    }

    .modal-content p {
        line-height: 1.6;
    }
</style>
